{{#each randomBeerFromApi}}
<img src="{{image_url}}" alt="error">
<h1>{{name}}</h1>
<P>{{description}}</P>
<p><em>{{tagline}}</em></p>
<article>{{food-pairing}}</article>
<p>{{brewers_tips}}</p>
{{/each}}